{% extends 'base.html.twig' %}

{% block links %}{{ encore_entry_link_tags('app') }}{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block scripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
