<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Rover Remote</title>
        {% block links %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
